/Generic/nbproject/private/
/LinkedList/nbproject/private/
/LinkedList/build/
/ENUMERATIONS, AUTOBOXING,  STATIC IMPORT, AND ANNOTATIONS/nbproject/private/
/Lab6/nbproject/private/
/Lab6/build/
/java1/nbproject/private/
/ENUMERATIONS, AUTOBOXING,  STATIC IMPORT, AND ANNOTATIONS/build/
/Lab7/nbproject/private/
/Lab7/build/
/Lab8/nbproject/private/
/Lab8/build/
/test1/nbproject/private/
/test1/build/
/test2/nbproject/private/
/test2/build/
/Test3/nbproject/private/
/Test3/build/
/test4/nbproject/private/
/test4/build/
